<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My weather App</title>
  </head>
  <body>
    <div class="weather-app">
    <header>
      <form id="search-form">
        <input type="search" placeholder="Enter a city.." required class="search-input" id="search-input" />
        <input type="submit" value="Search" class="search-button" />
      </form>
    </header>

    <main>
        <div class="current-weather">
            <h1 class="current-city" id="current-city"></h1>
        <p class="details">
            <span id="current-time"></span>
            <span id="current-date"></span>
            <span id="description"></span>
        <br />
        Humidity: <strong id="humidity"></strong>, Wind: <strong id="speed"></strong>
    </p>
        </div>
            <div class="temperature-container">
                <span id="current-temperature">°C</span>
                <div id="icon"></div>
            </div>
            <div id="forecast" class="forecast-container"></div>
        </main>
        </div>
    <footer>
      <div class="contact-links">
        <a
          href="https://www.linkedin.com/in/siphosethu-l-b52812262"
          target="_blank"
          ><i class="fab fa-linkedin"></i></a
        >
        <a href="tel:+27658460173"><i class="fas fa-phone-alt"></i></a>
        <a href="mailto:langesiphosethu@gmail.com" target="_blank"
          ><i class="fas fa-envelope"></i></a
        >
        <a href="https://github.com/SetthuL" target="_blank"
          ><i class="fab fa-github"></i></a
        >
      </div>
        <p>&copy; 2025 coded by Lange B Siphosethu </p>
    </footer>
    
  </body>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

</html>
